USE [avanzada]
GO
/****** Object:  Table [dbo].[nivel]    Script Date: 05/13/2025 11:03:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nivel](
	[id_nivel] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_nivel] PRIMARY KEY CLUSTERED 
(
	[id_nivel] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[nivel] ([id_nivel], [descripcion]) VALUES (0, N'administrador')
INSERT [dbo].[nivel] ([id_nivel], [descripcion]) VALUES (1, N'usuario 1')
INSERT [dbo].[nivel] ([id_nivel], [descripcion]) VALUES (2, N'usuario 2')
/****** Object:  Table [dbo].[estado]    Script Date: 05/13/2025 11:03:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[estado](
	[id_estado] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_estado] PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[estado] ([id_estado], [descripcion]) VALUES (0, N'activo')
INSERT [dbo].[estado] ([id_estado], [descripcion]) VALUES (1, N'inactivo')
/****** Object:  Table [dbo].[usuario]    Script Date: 05/13/2025 11:03:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuario](
	[IdUsuario] [int] NOT NULL,
	[apellido] [varchar](50) NULL,
	[nombre] [varchar](50) NULL,
	[correo] [varchar](50) NULL,
	[usuario] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[id_nivel] [int] NOT NULL,
	[id_estado] [int] NOT NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[usuario] ([IdUsuario], [apellido], [nombre], [correo], [usuario], [password], [id_nivel], [id_estado]) VALUES (1000, N'pepe', N'trueno', NULL, N'alumno', N'12345', 0, 0)
INSERT [dbo].[usuario] ([IdUsuario], [apellido], [nombre], [correo], [usuario], [password], [id_nivel], [id_estado]) VALUES (1001, NULL, NULL, NULL, N'alumno2', N'12345', 2, 0)
INSERT [dbo].[usuario] ([IdUsuario], [apellido], [nombre], [correo], [usuario], [password], [id_nivel], [id_estado]) VALUES (1002, NULL, NULL, NULL, N'alumno3', N'12345', 1, 1)
/****** Object:  Table [dbo].[solicitud]    Script Date: 05/13/2025 11:03:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[solicitud](
	[id_solicitud] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[fecha_solicitud] [datetime] NOT NULL,
	[token] [varchar](50) NOT NULL,
	[id_estado] [int] NOT NULL,
 CONSTRAINT [PK_solicitud] PRIMARY KEY CLUSTERED 
(
	[id_solicitud] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF_solicitud_id_estado]    Script Date: 05/13/2025 11:03:30 ******/
ALTER TABLE [dbo].[solicitud] ADD  CONSTRAINT [DF_solicitud_id_estado]  DEFAULT ((0)) FOR [id_estado]
GO
/****** Object:  Default [DF_usuario_id_nivel]    Script Date: 05/13/2025 11:03:30 ******/
ALTER TABLE [dbo].[usuario] ADD  CONSTRAINT [DF_usuario_id_nivel]  DEFAULT ((0)) FOR [id_nivel]
GO
/****** Object:  Default [DF_usuario_id_estado]    Script Date: 05/13/2025 11:03:30 ******/
ALTER TABLE [dbo].[usuario] ADD  CONSTRAINT [DF_usuario_id_estado]  DEFAULT ((0)) FOR [id_estado]
GO
/****** Object:  ForeignKey [FK_solicitud_usuario]    Script Date: 05/13/2025 11:03:30 ******/
ALTER TABLE [dbo].[solicitud]  WITH CHECK ADD  CONSTRAINT [FK_solicitud_usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[solicitud] CHECK CONSTRAINT [FK_solicitud_usuario]
GO
